@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  line-height: 1.7;
  padding: 2rem; }

#main-title {
  color: #759aab;
  text-align: center;
  font-size: 3rem;
  font-weight: bold; }

.font {
  font-family: Poppins, 'Arial Black', sans-serif; }

.buttons-div {
  margin-top: 10rem;
}

#login-btn-header {
  margin: 1rem;
  background-color: #b5838d;
  animation: moveInBottom 1s ease-out;
  margin: 1rem;
  padding: 1rem 5rem;
  border-radius: 10rem;
  font-size: 2rem; }

#sign-up-btn-header {
  margin: 1rem;
  background-color: #b5838d;
  animation: moveInBottom 1s ease-out;
  margin: 1rem;
  padding: 1rem 5rem;
  border-radius: 10rem;
  min-width: 380px;
  font-size: 2rem; }

.page-button:visited, .page-button:link {
  text-decoration: none;
  color: #fff;
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: center;
  border-radius: 10rem;
  transition: all .2s; }

.page-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .page-button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.page-button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  font-size: 2rem; }

.page-button--card {
  color: white;
  margin-bottom: 2rem;
  width: 80%;
  height: 35%;
  background-image: linear-gradient(to right, rgba(199, 109, 126, 0.8), rgba(254, 200, 154, 0.8)); }

.add-pet {
  color: white;
  background-image: linear-gradient(to right, rgba(199, 109, 126, 0.8), rgba(254, 200, 154, 0.8));
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
  margin-top: 2rem; }
  .add-pet:visited, .add-pet:link {
    text-decoration: none;
    color: #fff;
    padding: 1.5rem 4rem;
    display: flex;
    border-radius: 10rem;
    transition: all .2s; }
  .add-pet:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .add-pet:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .add-pet:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.card {
  text-align: center;
  margin: 2rem;
  border-radius: 20rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .card__div {
    margin-top: 2rem;
    margin-bottom: 30rem; }
  .card__title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase; }
  .card__sub {
    font-size: 2rem; }
  .card__text {
    font-size: 1.5rem; }

#main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2rem;
  width: 100%;
  height: 5rem;
  color: white;
  text-align: center;
  background-color: #b5838d; 
  }

#header-link {
  text-decoration: none;
  color: #333333;
  font-size: 2rem; }

.main-header {
  background-color: #bea8a7; }

.header {
  height: 70vh;
  background-image: linear-gradient(to right, rgba(255, 205, 178, 0.2), rgba(199, 109, 126, 0.2)), url(./images/header_img.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }

.loggedin-header {
  height: 70vh;
  background-image: linear-gradient(to right, rgba(255, 205, 178, 0.3), rgba(199, 109, 126, 0.3)), url(./images/loggedin_home.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  color: #fff; }

.home-text-box {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
  font-weight: bold;
  background-color: rgba(109, 104, 117, 0.6);
  border-radius: 10%;
  padding-top: 5rem;
  color: #ffffff }

.home-text-box--welcome {
  padding: 3rem;
}

.header-box {
  background-color: white;
}

.home-primary {
  margin-bottom: 6rem; }

.home-main {
  display: block;
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 2.5rem;
  animation: moveInLeft 1s ease-out; }

.home-sub {
  display: block;
  font-size: 2rem;
  letter-spacing: .5rem;
  animation: moveInRight 1s ease-out; }

.app-text {
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin-top: 5rem; }

.app-text-main {
  font-size: 3rem;
  margin-bottom: 4rem; }

.app-text-sub {
  font-size: 2rem; }

.petname {
  text-align: center; }
  .petname__heading {
    font-size: 8rem;
    text-transform: uppercase; }
  .petname__span {
    font-size: 4rem;
    margin: 4rem; }

.form-group {
      padding: 1rem;
      margin: 1%;
      width: 50%;
      color: #ffff;
      font-size: 2rem;
    }

.form-group--entry {
  padding: .5rem;
}

.form-group--holder {
  background-color: #333333;
  padding: 2rem;
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 10rem;
}


.animal-content--container {
  margin: 5% 10%;

}

.animal-content--title {
  font-size: 3rem;
}

.animal-content--content {
  font-size: 2.5rem;
}

#add-animal-modal {
  font-size: 2rem;
}

.single-animal {
  margin-bottom: 30%;
}