#header-link {
    text-decoration: none;
    color: $secondary-color;
    font-size: 2rem; 
  }

  .main-header {
    background-color: $quaternary-color;
}

  .header {
    height: 70vh;
    background-image: linear-gradient(to right,  rgba(78, 80, 78, 0.801), 
    rgba(58, 91, 158, 0.801)),
    url(./images/header_img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }

  
.loggedin-header {
    height: 70vh;
    background-image: linear-gradient(to right,  rgba(78, 80, 78, 0.801), 
    rgba(58, 91, 158, 0.801)),
    url(./images/loggedin_home.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    color: $color-white;
  }