body {
    box-sizing: border-box;
    line-height: 1.7;
    padding: 2rem;
  }
  
  #main-title {
    color: $secondary-color;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }

  
.font {
    font-family: Poppins, 'Arial Black', sans-serif;
  }